<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Webプログラミング</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <h1>Webプログラミング 課題</h1>
    </header>
    <main>
        <p>以下のリストから利用したいシステムを選択してください。</p>
        <ul>
            <li>
                <a href="/doraemon">ドラえもん映画システムを開く</a>
            </li>
            <li>
                <a href="/element">周期表元素システムを開く</a>
            </li>
            <li>
                <a href="/weapon">FE風花雪月 武器システムを開く</a>
            </li>
        </ul>
    </main>
</body>
</html>